.nav{
    width: 100%;
    height: 15vh;
    margin-bottom: 15px;
    color:#e6324b;
    background-color: #e6324b;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    gap: 10px;
}
.h1{
    text-decoration: none;
    color:#000000;
    font-size: 40px;
    line-height: 20px;
    
    font-weight:bolder;
}
.a{
    margin-top: 15px;
    text-decoration: none;
    color:#2b2b2b;
    font-size: 25px;
    line-height: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #2b2b2b;
    padding-bottom: 17px;
}
.a2{
    margin-top: 15px;
    text-decoration: none;
    color:#2b2b2b;
    font-size: 25px;
    line-height: 2px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 17px;
}
.input{
     width: 200px;
     height: 30px;
     color:#2b2b2b;
     border-radius: 10px;
     font-size: 15px;
     line-height: 2px;
}
.button{
    background-color:#2b2b2b;
    color: #f2e3c6;
    width: 80px;
    height: 32px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 0;
    font-size: 15px;
    margin-top: -50px;
}
.navtext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;      
}
.input::placeholder{
    text-align: center;
}
.search{
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(2, 50px);
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .a{
        display:none ;
    }
    .nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .a2{
        font-size: 18px;
        height: 35px;
    }
}